$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$input-pd-dt: 0 5.6rem;
$input-w-dt: calc(100% - 21rem);

$input-pd-ss: 0 5.6rem;
$input-w-ss: calc(100% - 21rem);
$input-pd-p:  0 2.5rem;
$input-w-p: calc(100% - 5rem);
$input-w-tb: calc(100% - 9rem);
$input-pd-mb: 0 2.5rem;
$input-w-mb: calc(100% - 5rem);

$btn-pd-t: 1.5rem;
$btn-pd-b: 2.9rem;
$btn-ss-pd-t: 15px;
$btn-ss-pd-b: 29px;
$btn-tb-pd: 1rem;
$btn-mb-pd: 1rem;
$btn-fs: 2.4rem;
$btn-ss-fs: 24px;
$btn-tb-fs: 1.8rem;
$btn-mb-fs: 1.8rem;
